<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spmods.spx">

    <application android:label="SPX Video Player">
        <activity android:name=".splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".player.VideoPlayerActivity"/>
    </application>
</manifest>
