name: Build SPX APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Set up Android SDK
        uses: android-actions/setup-android@v2
        with:
          api-level: 34
          build-tools: 34.0.0

      # Make gradlew executable
      - name: Make gradlew executable
        run: chmod +x gradlew

      # Build APK
      - name: Build APK
        run: ./gradlew assembleDebug

      # Upload APK
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: SPX-APK
          path: app/build/outputs/apk/debug/app-debug.apk
